In [40]:
#Dependcies
import pandas as pd

In [41]:
# Make a reference to the file path
csv_path = "Resources/data_2015-2016.csv"

In [42]:
# Read the CSV into a Pandas DataFrame
data_source1_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
data_source1_df.head(400)

,Control of institution,State,Variable,SUM,MIN,MAX,AVG,25PERCENT,MEDIAN,75PERCENT,STDEV
0,Public,Kansas,Total number of full-time first-time degree/ce...,"4,032","4,032","4,032","4,032",4032.0,NaN,NaN,NaN
1,Public,Kansas,Total number of undergraduates - financial aid...,"19,245","19,245","19,245","19,245",19245.0,NaN,NaN,NaN
2,Public,Kansas,"Grand total - 4-year institutions, Completers ...","2,213","2,213","2,213","2,213",2213.0,NaN,NaN,NaN
3,Public,Kansas,Grand total - Bachelor's or equiv subcohort (4...,"2,213","2,213","2,213","2,213",2213.0,NaN,NaN,NaN
4,Public,Kansas,In-district average tuition for full-time unde...,"9,579","9,579","9,579","9,579",9579.0,NaN,NaN,NaN
5,Public,Kansas,In-state average tuition for full-time undergr...,"9,579","9,579","9,579","9,579",9579.0,NaN,NaN,NaN
6,Public,Kansas,Out-of-state average tuition for full-time und...,"24,962","24,962","24,962","24,962",24962.0,NaN,NaN,NaN
7,Public,Kansas,In-district average tuition full-time graduate...,"9,480","9,480","9,480","9,480",9480.0,NaN,NaN,NaN
8,Public,Kansas,In-state average tuition full-time graduates -...,"9,480","9,480","9,480","9,480",9480.0,NaN,NaN,NaN
9,Public,Kansas,Out-of-state average tuition full-time graduat...,"22,176","22,176","22,176","22,176",22176.0,NaN,NaN,NaN
10,Public,Kansas,In-district required fees for full-time underg...,970,970,970,970,970.0,NaN,NaN,NaN
11,Public,Kansas,In-state required fees for full-time undergrad...,970,970,970,970,970.0,NaN,NaN,NaN
12,Public,Kansas,Out-of-state required fees for full-time under...,970,970,970,970,970.0,NaN,NaN,NaN
13,Public,Kansas,In-district required fees for full-time gradua...,958,958,958,958,958.0,NaN,NaN,NaN
14,Public,Kansas,In-state required fees for full-time graduates...,958,958,958,958,958.0,NaN,NaN,NaN
15,Public,Kansas,Out-of-state required fees for full-time gradu...,958,958,958,958,958.0,NaN,NaN,NaN
16,Public,Kansas,Books and supplies 2016-17 - (16),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Public,Kansas,"On campus, room and board 2016-17 - (16)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Public,Kansas,"On campus, other expenses 2016-17 - (16)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Public,Kansas,"Off campus (not with family), room and board ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Public,Kansas,Full-time first-time degree/certificate-seekin...,"4,130","4,130","4,130","4,130",4130.0,NaN,NaN,NaN
21,Public,Kansas,Total entering students at the undergraduate l...,"5,755","5,755","5,755","5,755",5755.0,NaN,NaN,NaN
22,Public,Kansas,Current year GRS cohort as a percent of enteri...,72,72,72,72,72.0,NaN,NaN,NaN
23,Public,Kansas,"Grand total - 4-year institutions, Completers ...","2,388","2,388","2,388","2,388",2388.0,NaN,NaN,NaN
24,Public,Kansas,Grand total - Bachelor's or equiv subcohort (4...,"2,388","2,388","2,388","2,388",2388.0,NaN,NaN,NaN
25,Public,Kansas,Full-time first-time degree/certificate-seekin...,"4,032","4,032","4,032","4,032",4032.0,NaN,NaN,NaN
26,Public,Kansas,Total entering students at the undergraduate l...,"5,670","5,670","5,670","5,670",5670.0,NaN,NaN,NaN
27,Public,Kansas,Current year GRS cohort as a percent of enteri...,71,71,71,71,71.0,NaN,NaN,NaN
28,Public,Missouri,Total number of full-time first-time degree/ce...,"6,035","6,035","6,035","6,035",6035.0,NaN,NaN,NaN
29,Public,Missouri,Total number of undergraduates - financial aid...,"27,791","27,791","27,791","27,791",27791.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
54,Public,Missouri,Total entering students at the undergraduate l...,"7,385","7,385","7,385","7,385",7385.0,NaN,NaN,NaN
55,Public,Missouri,Current year GRS cohort as a percent of enteri...,82,82,82,82,82.0,NaN,NaN,NaN
56,Public,Nebraska,Total number of full-time first-time degree/ce...,"4,603","4,603","4,603","4,603",4603.0,NaN,NaN,NaN
57,Public,Nebraska,Total number of undergraduates - financial aid...,"20,182","20,182","20,182","20,182",20182.0,NaN,NaN,NaN
58,Public,Nebraska,"Grand total - 4-year institutions, Completers ...","2,692","2,692","2,692","2,692",2692.0,NaN,NaN,NaN
59,Public,Nebraska,Grand total - Bachelor's or equiv subcohort (4...,"2,692","2,692","2,692","2,692",2692.0,NaN,NaN,NaN
60,Public,Nebraska,In-district average tuition for full-time unde...,"6,757","6,757","6,757","6,757",6757.0,NaN,NaN,NaN
61,Public,Nebraska,In-state average tuition for full-time undergr...,"6,757","6,757","6,757","6,757",6757.0,NaN,NaN,NaN
62,Public,Nebraska,Out-of-state average tuition for full-time und...,"21,270","21,270","21,270","21,270",21270.0,NaN,NaN,NaN
63,Public,Nebraska,In-district average tuition full-time graduate...,"7,134","7,134","7,134","7,134",7134.0,NaN,NaN,NaN
64,Public,Nebraska,In-state average tuition full-time graduates -...,"7,134","7,134","7,134","7,134",7134.0,NaN,NaN,NaN
65,Public,Nebraska,Out-of-state average tuition full-time graduat...,"20,412","20,412","20,412","20,412",20412.0,NaN,NaN,NaN
66,Public,Nebraska,In-district required fees for full-time underg...,"1,780","1,780","1,780","1,780",1780.0,NaN,NaN,NaN
67,Public,Nebraska,In-state required fees for full-time undergrad...,"1,780","1,780","1,780","1,780",1780.0,NaN,NaN,NaN
68,Public,Nebraska,Out-of-state required fees for full-time under...,"1,780","1,780","1,780","1,780",1780.0,NaN,NaN,NaN
69,Public,Nebraska,In-district required fees for full-time gradua...,"1,676","1,676","1,676","1,676",1676.0,NaN,NaN,NaN
70,Public,Nebraska,In-state required fees for full-time graduates...,"1,676","1,676","1,676","1,676",1676.0,NaN,NaN,NaN
71,Public,Nebraska,Out-of-state required fees for full-time gradu...,"1,676","1,676","1,676","1,676",1676.0,NaN,NaN,NaN
72,Public,Nebraska,Books and supplies 2016-17 - (16),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,Public,Nebraska,"On campus, room and board 2016-17 - (16)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,Public,Nebraska,"On campus, other expenses 2016-17 - (16)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Public,Nebraska,"Off campus (not with family), room and board ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,Public,Nebraska,Full-time first-time degree/certificate-seekin...,"4,833","4,833","4,833","4,833",4833.0,NaN,NaN,NaN
77,Public,Nebraska,Total entering students at the undergraduate l...,"5,765","5,765","5,765","5,765",5765.0,NaN,NaN,NaN
78,Public,Nebraska,Current year GRS cohort as a percent of enteri...,84,84,84,84,84.0,NaN,NaN,NaN
79,Public,Nebraska,"Grand total - 4-year institutions, Completers ...","2,658","2,658","2,658","2,658",2658.0,NaN,NaN,NaN
80,Public,Nebraska,Grand total - Bachelor's or equiv subcohort (4...,"2,658","2,658","2,658","2,658",2658.0,NaN,NaN,NaN
81,Public,Nebraska,Full-time first-time degree/certificate-seekin...,"4,603","4,603","4,603","4,603",4603.0,NaN,NaN,NaN
82,Public,Nebraska,Total entering students at the undergraduate l...,"5,551","5,551","5,551","5,551",5551.0,NaN,NaN,NaN
83,Public,Nebraska,Current year GRS cohort as a percent of enteri...,83,83,83,83,83.0,NaN,NaN,NaN

In [43]:
# Delete extraneous column
del data_source1_df['MEDIAN']
data_source1_df.head()

,Control of institution,State,Variable,SUM,MIN,MAX,AVG,25PERCENT,75PERCENT,STDEV
0,Public,Kansas,Total number of full-time first-time degree/ce...,"4,032","4,032","4,032","4,032",4032.0,NaN,NaN
1,Public,Kansas,Total number of undergraduates - financial aid...,"19,245","19,245","19,245","19,245",19245.0,NaN,NaN
2,Public,Kansas,"Grand total - 4-year institutions, Completers ...","2,213","2,213","2,213","2,213",2213.0,NaN,NaN
3,Public,Kansas,Grand total - Bachelor's or equiv subcohort (4...,"2,213","2,213","2,213","2,213",2213.0,NaN,NaN
4,Public,Kansas,In-district average tuition for full-time unde...,"9,579","9,579","9,579","9,579",9579.0,NaN,NaN

In [44]:
# Delete extraneous column
del data_source1_df['75PERCENT']
data_source1_df.head()

,Control of institution,State,Variable,SUM,MIN,MAX,AVG,25PERCENT,STDEV
0,Public,Kansas,Total number of full-time first-time degree/ce...,"4,032","4,032","4,032","4,032",4032.0,NaN
1,Public,Kansas,Total number of undergraduates - financial aid...,"19,245","19,245","19,245","19,245",19245.0,NaN
2,Public,Kansas,"Grand total - 4-year institutions, Completers ...","2,213","2,213","2,213","2,213",2213.0,NaN
3,Public,Kansas,Grand total - Bachelor's or equiv subcohort (4...,"2,213","2,213","2,213","2,213",2213.0,NaN
4,Public,Kansas,In-district average tuition for full-time unde...,"9,579","9,579","9,579","9,579",9579.0,NaN

In [45]:
# Delete extraneous column
del data_source1_df['STDEV']
data_source1_df.head()

,Control of institution,State,Variable,SUM,MIN,MAX,AVG,25PERCENT
0,Public,Kansas,Total number of full-time first-time degree/ce...,"4,032","4,032","4,032","4,032",4032.0
1,Public,Kansas,Total number of undergraduates - financial aid...,"19,245","19,245","19,245","19,245",19245.0
2,Public,Kansas,"Grand total - 4-year institutions, Completers ...","2,213","2,213","2,213","2,213",2213.0
3,Public,Kansas,Grand total - Bachelor's or equiv subcohort (4...,"2,213","2,213","2,213","2,213",2213.0
4,Public,Kansas,In-district average tuition for full-time unde...,"9,579","9,579","9,579","9,579",9579.0

In [46]:
# Identify incomplete rows
data_source1_df.count()

Control of institution    84
State                     84
Variable                  84
SUM                       72
MIN                       72
MAX                       72
AVG                       72
25PERCENT                 72
dtype: int64

In [48]:
# Drop all rows with missing information
data_source1 = data_source1_df.dropna(how='any')

In [51]:
# Verify dropped rows
data_source1_df.count

<bound method DataFrame.count of    Control of institution     State  \
0                  Public    Kansas
1                  Public    Kansas
2                  Public    Kansas
3                  Public    Kansas
4                  Public    Kansas
5                  Public    Kansas
6                  Public    Kansas
7                  Public    Kansas
8                  Public    Kansas
9                  Public    Kansas
10                 Public    Kansas
11                 Public    Kansas
12                 Public    Kansas
13                 Public    Kansas
14                 Public    Kansas
15                 Public    Kansas
16                 Public    Kansas
17                 Public    Kansas
18                 Public    Kansas
19                 Public    Kansas
20                 Public    Kansas
21                 Public    Kansas
22                 Public    Kansas
23                 Public    Kansas
24                 Public    Kansas
25                 Public    Kansas
26                 Public    Kansas
27                 Public    Kansas
28                 Public  Missouri
29                 Public  Missouri
..                    ...       ...
54                 Public  Missouri
55                 Public  Missouri
56                 Public  Nebraska
57                 Public  Nebraska
58                 Public  Nebraska
59                 Public  Nebraska
60                 Public  Nebraska
61                 Public  Nebraska
62                 Public  Nebraska
63                 Public  Nebraska
64                 Public  Nebraska
65                 Public  Nebraska
66                 Public  Nebraska
67                 Public  Nebraska
68                 Public  Nebraska
69                 Public  Nebraska
70                 Public  Nebraska
71                 Public  Nebraska
72                 Public  Nebraska
73                 Public  Nebraska
74                 Public  Nebraska
75                 Public  Nebraska
76                 Public  Nebraska
77                 Public  Nebraska
78                 Public  Nebraska
79                 Public  Nebraska
80                 Public  Nebraska
81                 Public  Nebraska
82                 Public  Nebraska
83                 Public  Nebraska

                                             Variable     SUM     MIN     MAX  \
0   Total number of full-time first-time degree/ce...   4,032   4,032   4,032
1   Total number of undergraduates - financial aid...  19,245  19,245  19,245
2   Grand total - 4-year institutions, Completers ...   2,213   2,213   2,213
3   Grand total - Bachelor's or equiv subcohort (4...   2,213   2,213   2,213
4   In-district average tuition for full-time unde...   9,579   9,579   9,579
5   In-state average tuition for full-time undergr...   9,579   9,579   9,579
6   Out-of-state average tuition for full-time und...  24,962  24,962  24,962
7   In-district average tuition full-time graduate...   9,480   9,480   9,480
8   In-state average tuition full-time graduates -...   9,480   9,480   9,480
9   Out-of-state average tuition full-time graduat...  22,176  22,176  22,176
10  In-district required fees for full-time underg...     970     970     970
11  In-state required fees for full-time undergrad...     970     970     970
12  Out-of-state required fees for full-time under...     970     970     970
13  In-district required fees for full-time gradua...     958     958     958
14  In-state required fees for full-time graduates...     958     958     958
15  Out-of-state required fees for full-time gradu...     958     958     958
16                  Books and supplies 2016-17 - (16)     NaN     NaN     NaN
17           On campus, room and board 2016-17 - (16)     NaN     NaN     NaN
18           On campus, other expenses 2016-17 - (16)     NaN     NaN     NaN
19  Off campus (not with family), room and board  ...     NaN     NaN     NaN
20  Full-time first-time degree/certificate-seekin...   4,130   4,130   4,130
21  Total entering students at the undergraduate l...   5,755   5,755   5,755
22  Current year GRS cohort as a percent of enteri...      72      72      72
23  Grand total - 4-year institutions, Completers ...   2,388   2,388   2,388
24  Grand total - Bachelor's or equiv subcohort (4...   2,388   2,388   2,388
25  Full-time first-time degree/certificate-seekin...   4,032   4,032   4,032
26  Total entering students at the undergraduate l...   5,670   5,670   5,670
27  Current year GRS cohort as a percent of enteri...      71      71      71
28  Total number of full-time first-time degree/ce...   6,035   6,035   6,035
29  Total number of undergraduates - financial aid...  27,791  27,791  27,791
..                                                ...     ...     ...     ...
54  Total entering students at the undergraduate l...   7,385   7,385   7,385
55  Current year GRS cohort as a percent of enteri...      82      82      82
56  Total number of full-time first-time degree/ce...   4,603   4,603   4,603
57  Total number of undergraduates - financial aid...  20,182  20,182  20,182
58  Grand total - 4-year institutions, Completers ...   2,692   2,692   2,692
59  Grand total - Bachelor's or equiv subcohort (4...   2,692   2,692   2,692
60  In-district average tuition for full-time unde...   6,757   6,757   6,757
61  In-state average tuition for full-time undergr...   6,757   6,757   6,757
62  Out-of-state average tuition for full-time und...  21,270  21,270  21,270
63  In-district average tuition full-time graduate...   7,134   7,134   7,134
64  In-state average tuition full-time graduates -...   7,134   7,134   7,134
65  Out-of-state average tuition full-time graduat...  20,412  20,412  20,412
66  In-district required fees for full-time underg...   1,780   1,780   1,780
67  In-state required fees for full-time undergrad...   1,780   1,780   1,780
68  Out-of-state required fees for full-time under...   1,780   1,780   1,780
69  In-district required fees for full-time gradua...   1,676   1,676   1,676
70  In-state required fees for full-time graduates...   1,676   1,676   1,676
71  Out-of-state required fees for full-time gradu...   1,676   1,676   1,676
72                  Books and supplies 2016-17 - (16)     NaN     NaN     NaN
73           On campus, room and board 2016-17 - (16)     NaN     NaN     NaN
74           On campus, other expenses 2016-17 - (16)     NaN     NaN     NaN
75  Off campus (not with family), room and board  ...     NaN     NaN     NaN
76  Full-time first-time degree/certificate-seekin...   4,833   4,833   4,833
77  Total entering students at the undergraduate l...   5,765   5,765   5,765
78  Current year GRS cohort as a percent of enteri...      84      84      84
79  Grand total - 4-year institutions, Completers ...   2,658   2,658   2,658
80  Grand total - Bachelor's or equiv subcohort (4...   2,658   2,658   2,658
81  Full-time first-time degree/certificate-seekin...   4,603   4,603   4,603
82  Total entering students at the undergraduate l...   5,551   5,551   5,551
83  Current year GRS cohort as a percent of enteri...      83      83      83

       AVG  25PERCENT
0    4,032     4032.0
1   19,245    19245.0
2    2,213     2213.0
3    2,213     2213.0
4    9,579     9579.0
5    9,579     9579.0
6   24,962    24962.0
7    9,480     9480.0
8    9,480     9480.0
9   22,176    22176.0
10     970      970.0
11     970      970.0
12     970      970.0
13     958      958.0
14     958      958.0
15     958      958.0
16     NaN        NaN
17     NaN        NaN
18     NaN        NaN
19     NaN        NaN
20   4,130     4130.0
21   5,755     5755.0
22      72       72.0
23   2,388     2388.0
24   2,388     2388.0
25   4,032     4032.0
26   5,670     5670.0
27      71       71.0
28   6,035     6035.0
29  27,791    27791.0
..     ...        ...
54   7,385     7385.0
55      82       82.0
56   4,603     4603.0
57  20,182    20182.0
58   2,692     2692.0
59   2,692     2692.0
60   6,757     6757.0
61   6,757     6757.0
62  21,270    21270.0
63   7,134     7134.0
64   7,134     7134.0
65  20,412    20412.0
66   1,780     1780.0
67   1,780     1780.0
68   1,780     1780.0
69   1,676     1676.0
70   1,676     1676.0
71   1,676     1676.0
72     NaN        NaN
73     NaN        NaN
74     NaN        NaN
75     NaN        NaN
76   4,833     4833.0
77   5,765     5765.0
78      84       84.0
79   2,658     2658.0
80   2,658     2658.0
81   4,603     4603.0
82   5,551     5551.0
83      83       83.0

[84 rows x 8 columns]>

In [53]:
# Delete extraneous column
del data_source1_df['25PERCENT']
data_source1_df.head()

,Control of institution,State,Variable,SUM,MIN,MAX,AVG
0,Public,Kansas,Total number of full-time first-time degree/ce...,"4,032","4,032","4,032","4,032"
1,Public,Kansas,Total number of undergraduates - financial aid...,"19,245","19,245","19,245","19,245"
2,Public,Kansas,"Grand total - 4-year institutions, Completers ...","2,213","2,213","2,213","2,213"
3,Public,Kansas,Grand total - Bachelor's or equiv subcohort (4...,"2,213","2,213","2,213","2,213"
4,Public,Kansas,In-district average tuition for full-time unde...,"9,579","9,579","9,579","9,579"

In [54]:
# Push the remade DataFrame to a new CSV file
data_source1_df.to_csv("Output/data1_clean.csv",
                  encoding="utf-8", index=False, header=True)